In [32]:
!pip install syntok

3463.15s - pydevd: Sending message related to process being replaced timed-out after 5 seconds
Collecting syntok
  Downloading syntok-1.4.4-py3-none-any.whl (24 kB)
Requirement already satisfied: regex>2016 in /home/aberger/anaconda3/envs/ml_test/lib/python3.11/site-packages (from syntok) (2022.10.31)
Installing collected packages: syntok
Successfully installed syntok-1.4.4

In [55]:
import pandas as pd
import os
import nltk
nltk.download()
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

from tqdm import tqdm

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [46]:
stop_words = set(stopwords.words('english'))

In [35]:
current_dir = os.getcwd()
df = pd.read_csv(f"{current_dir}/data/train.csv")

In [36]:
df.head()

                                                 sms  label
0  Go until jurong point, crazy.. Available only ...      0
1                    Ok lar... Joking wif u oni...\n      0
2  Free entry in 2 a wkly comp to win FA Cup fina...      1
3  U dun say so early hor... U c already then say...      0
4  Nah I don't think he goes to usf, he lives aro...      0

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5574 entries, 0 to 5573
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sms     5574 non-null   object
 1   label   5574 non-null   int64
dtypes: int64(1), object(1)
memory usage: 87.2+ KB

In [38]:
raw_text = df["sms"].to_list()
label = df["label"].to_list()

In [39]:
processed_text = []
tokenizer = SynTokenizer()

In [59]:
for sms in text:
    tokens = word_tokenize(sms)
    tokens = [token.lower() for token in tokens if token not in stop_words and len(token) > 1]
    processed_text.append(tokens)